# Dependencies
/node_modules
/.pnp
.pnp.js

# Production build
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Optional cache folders
.cache/
.tmp/
.eslintcache

# Test coverage
/coverage

# Local server files
*.pid
*.seed
*.pid.lock

# Misc
*.tgz
*.env.backup
